/* Theodora Moldovan, John Mwai, Alice Pendergast
Programming Assignment 3
Multiplication Table Challenge
COM 214
3/25/21 */

.input-group-prepend {
  width: 10px ;
}

/* Style border and margins for multiplication table */
table {
  border-collapse: collapse;
  margin-top: 25px;
}

/* Style table header */
td {
  border: 1px solid #999;
  padding:0.5rem;
  text-align: left;
}

/* Set alternating color pattern based on odd/even row and column numbers */
tr.even td.even { background-color: #ee22bb;
}

tr.even td.odd { background-color: #00ffbb;
}

tr.odd td.even { background-color: #ee44cc;
}

tr.odd td.odd { background-color: #7799dd;
}

.outer {
  background-color: yellow !important: 
}

/* Set cell input box style */
td input {
  border: 1px solid #999;
  padding:0.5rem;
  text-align: left;
  width: 25px;
  height:100%;
  background-color:white;
}

/* Set intro image width and height */
.homeImage {
  max-width:65%;
  height:auto;
  padding-left: 25rem;

}

/* Set text color to green for counter */
.countDown {
  color:green;
}

/* Set centering margins to auto */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* Set page style with background color, font type and size, alignment, etc. */
.animated {
  background-color: #1c87c9;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
}

/* Set glowing circle with three alternating colors */
@keyframes glowing {
  0% {
    background-color:#4d0066;
    box-shadow: 0 0 5px #4d0066;
  }
  50% {
    background-color: #ff0000;
    box-shadow: 0 0 20px #ff0000;
  }
  100% {
    background-color:#ffff00;
    box-shadow: 0 0 5px #ffff00;
  }
}
/* Set duration and timing for glowing */
.animated {
  animation: glowing 1300ms infinite;
}
/* Set text color for correct answer to green */
.correct{
  color: green;
}
/* Set text color for incorrect answer to red */
.incorrect {
  color:red;
}